#
# Copyright (c) 2019-2023 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#   Red Hat, Inc. - initial API and implementation
#

name: Release Kubernetes Image Puller operator
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version that is going to be released. Should be in format 1.yy.z'
        required: true
      forceRecreateTags:
        description: If true, tags will be recreated. Use with caution
        required: false
        default: 'false'
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check existing tags
        run: |
          set +e
          RECREATE_TAGS=${{ github.event.inputs.forceRecreateTags }}
          VERSION=${{ github.event.inputs.version }}
          EXISTING_TAG=$(git ls-remote --exit-code origin refs/tags/${VERSION})
          if [[ -n ${EXISTING_TAG} ]]; then
            if [[ ${RECREATE_TAGS} == "true" ]]; then
              echo "[INFO] Removing tag for ${VERSION} version. New tag will be recreated during release."
              git push origin :$VERSION
            else
              echo "[ERROR] Cannot proceed with release - tag ${EXISTING_TAG} already exists."
              exit 1
            fi
          else
            echo "[INFO] No existing tags detected for $VERSION"
          fi
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Docker quay.io Login
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install yq
        run: |
          python -m pip install --upgrade pip
          pip install yq
      - name: Set up Go 1.15
        uses: actions/setup-go@v3
        with:
          go-version: 1.15
      - name: Release operator
        run: |
          RELEASE_VERSION=${{ github.event.inputs.version }}
          echo "RELEASE_VERSION=${RELEASE_VERSION}"
          BRANCH=${RELEASE_VERSION%.*}.x
          echo "BRANCH=${BRANCH}"
          hub version
          git config --global user.name "Anatolii Bazko"
          git config --global user.email "abazko@redhat.com"
          export GITHUB_TOKEN=${{ secrets.CHE_BOT_GITHUB_TOKEN }}
          export QUAY_ECLIPSE_CHE_USERNAME=${{ secrets.QUAY_USERNAME }}
          export QUAY_ECLIPSE_CHE_PASSWORD=${{ secrets.QUAY_PASSWORD }}
          
          set -e

          ./make-release.sh ${RELEASE_VERSION} --release --release-olm-files

          git checkout ${CHE_VERSION}-release
          ./make-release.sh ${RELEASE_VERSION} --push-olm-bundles

          # perform extra checkouts to ensure branches exist locally
          git checkout ${BRANCH}
          git checkout ${RELEASE_VERSION}-release
          force_update=""
          if [[ ${{ github.event.inputs.forceRecreateTags }} == "true" ]]; then force_update="--force"; fi
          ./make-release.sh ${RELEASE_VERSION} --push-git-changes --pull-requests ${force_update}
